#page-auth{
    display: flex;
    align-items: stretch;
    height: 100vh;

    aside{
        flex: 7;
        background: var(--roxin); 
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 120px 80px;

        img{
            max-width: 320px;
            min-width: 32px;
        }

        strong{
            font: 700 36px 'Poppins', sans-serif;
            line-height: 42px;
            margin-top: 1rem;
        }

        p{
            font-size: 24px;
            line-height: 32px;
            margin-top: 1rem;
            color: #f8f8f8
            
        }

    }

    main{
        flex:8;

        padding: 0 32px;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 520px;
        align-items:stretch;
        text-align: center;

        > img {
            align-self: center;
        }

        h2{
           // font-size: 1.2rem;
            margin: 64px 0 24px;
            font-family: 'Poppins', sans-serif;
        }


        form{
            input{
                height: 50px;
                border-radius: 8px;
                padding: 0 1rem;
                background: white;
                border: 1px solid var(--separator);
            }
            button{
                margin-top: 1rem;
            }
            button, input{
                width: 100%;
            }
        }

        p{
            font-size: 18px;
            color: #737380;
            margin-top: 1rem;

            a{
                color: var(--rosinha);
            }
        }
    }

    .create-room-with-google{
        margin-top: 64px;
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background: #ea4333;
        color: white;

        display: flex;
        align-items:center;
        justify-content: center;

        cursor: pointer;
        border: 0;
        
        transition: filter .2s;

        img{
            margin-right: 1rem;
        }

        &:hover{
            filter: brightness(.9)
        }
    }

    .separator{
        font-size: 14px;
        color: var(--separator);;

        margin: 32px 0;
        display:flex;
        align-items: center;

        &::before{
            content: '';
            flex: 1;
            height: 1px;
            background: var(--separator);;
            margin-right: 1rem;
        }

        &::after
        {
            content: '';
            flex: 1;
            height: 1px;
            background: var(--separator);;
            margin-left: 1rem;
        }
    }


}
