:root{
    --roxin: #835afd;
    --light-gray: #737388;
    --rosinha: #e559f9;
    --separator: #a8a8b3;
    --h1-and-username: #29292e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f8f8f8;
    color: #292929;
}

body, input, button, textarea{
    font: 400 1rem "Roboto", sans-serif;
}