.question{
    background: #fefefe;
    border-radius: .5rem;
    box-shadow: 0 2px 12px rgba(0,0,0,0.04);
    padding: 1.5rem;

    & + .question{
        margin-top: .5rem;
    }
    
    &.highlighted{
        background: #f4f0ff;
        border: 1px solid var(--roxin);;
    }

    &.answered{
        background: #cacaca6b;
    }

    p{
        color: var(--h1-and-username);
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;

        .user-info{
            display: flex;
            align-items: center;

            img{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }

            > span{
                margin-left: .5rem;
                color: var(--light-gray);;
                font-size: 14px;
            }
        }

        >div{
            display: flex;
            gap: .5rem;
        }

        button{
            border: 0;
            background: transparent;
            cursor: pointer;

            &.likeBtn{
                display: flex;
                align-items: flex-end;
                color: var(--light-gray);;
                gap: .5rem;
                transition: filter .2s;

                &.liked{
                    color: var(--roxin);;
                    svg{
                        stroke: var(--roxin);;
                    }
                }

                &:hover{
                    filter: brightness(.6)
                }
            }
        }
    }
}